# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.turbo

# Environment
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# Prisma
database/prisma/migrations/

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db

# Editor
.vscode/settings.json
.idea/
*.swp
*.swo

# Docker volumes
pgdata/
